menu "Latency Test Configuration"
    config DEBUG_PLOT_ALL
        bool "Plot all data"
        default n
        help
            If enabled, runs a timer which plots raw adc value every 5 ms.

    config FILTER_ADC
        bool "Filter ADC values"
        default y
        help
            If enabled, filters the ADC values using a simple lowpass filter.

    config FILTER_ALPHA
        int "Filter alpha (*1000)"
        default 1
        range 1 1000
        depends on FILTER_ADC
        help
            The time constant for the lowpass filter. The value will be divided
            by 1000 to get the actual alpha value.

    config TRIGGER_PERIOD_MS
        int "Trigger period (ms)"
        default 300
        range 100 10000
        depends on DEBUG_PLOT_ALL
        help
            The period in milliseconds at which the latency test is triggered.
            Each period will trigger one button press and release.

    config BUTTON_HOLD_TIME_MS
        int "Button hold time (ms)"
        default 100
        range 10 1000
        help
            The time in milliseconds for which the button is held down.

    config MAX_BUTTON_DELAY_MS
        int "Maximum button delay (ms)"
        default 100
        range 0 1000
        help
            The maximum delay / shift in milliseconds between when the button is
            released and when the next button press is triggered.

    config UPPER_THRESHOLD
        int "Threshold value (mV) for registering a screen on event"
        default 80
        help
            The threshold value for registering a screen on event. The value is
            in units of millivolts.

    config LOWER_THRESHOLD
        int "Threshold value (mV) for registering a screen off event"
        default 30
        help
            The threshold value for registering a screen off event. The value is
            in units of millivolts.

    config BUTTON_PRESS_LEVEL
        int "Level which indicates a button press"
        default 0
        range 0 1
        help
            The level which indicates a button press.

    config BUTTON_GPIO
        int "Button GPIO"
        default 17
        help
            The GPIO pin number for the button. Default is GPIO_NUM_17, which is
            A1 on QtPy ESP32S3.

    config EXTRA_GND_GPIO
        int "Extra GND GPIO"
        default 9
        help
            The GPIO pin number for the extra GND connection. Will be set to
            always output low. Default is GPIO_NUM_9, which is A2 on QtPy
            ESP32S3.

    config SENSOR_ADC_UNIT
        int "Sensor ADC Unit"
        default 2
        range 1 2
        help
            The ADC unit number for the sensor. The ESP32 has two ADC units,
            ADC_UNIT_1 and ADC_UNIT_2. Default is ADC UNIT 2.

    config SENSOR_ADC_CHANNEL
        int "Sensor ADC Channel"
        default 7
        help
            The ADC channel number for the sensor. Default is ADC2 Channel 7,
            which is A0 (GPIO18) on QtPy ESP32S3.

endmenu
